$icon-font-path : "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin : 0.2em 0;
    background : #ccc;
    color : #000;
    padding : 0.2em 0;
}

html {
  height: 100%;
}

/* Space out content a bit */
body {
    padding-top: 60px;
	padding-bottom: 20px;
	min-height: 100%;
	position: relative;
}
.kz_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
}
.loader-position {
  position: absolute; 
  margin: auto; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
}
.kz_border { 
	border : 2px dashed #666; 
}
.kz_border_top { 
	border-top : 2px dashed #666; 
}
.kz_border_left { 
	border-left : 2px dashed #666; 
}
.kz_border_right { 
	border-right : 2px dashed #666; 
}
.kz_border_bottom { 
	border-bottom : 2px dashed #666; 
}
.kz_border_lean { 
	border : 2px solid #666; 
}
.kz_border_top_lean { 
	border-top : 2px solid #666; 
}
.kz_border_left_lean { 
	border-left : 2px solid #666; 
}
.kz_border_right_lean { 
	border-right : 2px solid #666; 
}
.kz_border_bottom_lean { 
	border-bottom : 2px solid #666; 
}
.kz_img_position { 
	position : absolute; top : 0px; right : -2px; 
}
.kz_mouse_cursor { 
	cursor : pointer; 
}
.kz_center { 
	text-align : center; 
}
.kz_right { 
	text-align : right; 
}
.kz_page_footer {
	padding-top : 9px;
	margin : 40px 0 20px;
	border-top : 1px solid #eee;
}
.kz_width_20 {
	width : 20%;
}
.kz_width_50 {
	width : 50%;
}
.kz_width_100 {
	width : 100%;
}
.kz_td {
	vertical-align : top;
	position : relative; 
	padding : 10px;
}
.kz_msg_padding {
	padding : 10px;
}
.kz_margin_right_5 {
	margin-right : 5px;
}