<div class="page-header kz_center">
  	<h1>{{ 'DADOS_SINCRONIZAR_SERVIDOR_REMOTO' | translate }}</h1>
</div>
<div class="kz_content">
  <div class="alert alert-warning" role="alert" ng-hide="sucesso">
    {{ 'INSTRUCOES_DADOS_SINCRONIZACAO' | translate }}
  </div>
	<div class="alert alert-success" role="alert" ng-show="sucesso">
  	{{ 'DADOS_GRAVADOS_SUCESSO' | translate }}
	</div>
  <div class="row" ng-hide="possuiUsuario">
    <div class="col-xs-12 col-md-4 col-md-offset-4 kz_center">
      <a href="http://businessmodel.kazcanvas.com/#/criar-usuario" target="_blank" class="btn btn-warning btn-lg" 
        style="width: 100%" ng-if="$root.bmc">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
        {{ 'CADASTRAR' | translate }}
      </a>
      <a href="http://leanmodel.kazcanvas.com/#/criar-usuario" target="_blank" class="btn btn-warning btn-lg" 
        style="width: 100%" ng-if="!$root.bmc">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
        {{ 'CADASTRAR' | translate }}
      </a>
    </div>
  </div>
  <br />
	<div class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 kz_center">
      		<form role="form" name="form" ng-submit="cadastrar(usuario)" novalidate>
        		<div class="form-group">
    				<label for="email" class="control-label">{{ 'EMAIL' | translate }}</label>
    				<input type="email" class="form-control" id="email" name="email" 
    					maxlength="200" ng-model="usuario.email" 
    					placeholder="{{ 'DIGITE_EMAIL' | translate }}" required />
  				</div>
  				<div class="form-group">
    				<label for="token" class="control-label">{{ 'SENHA' | translate }}</label>
    				<input type="password" class="form-control" id="token" name="token" 
    					maxlength="30" ng-model="usuario.token" 
    					placeholder="{{ 'DIGITE_SENHA' | translate }}" required />
  				</div>
  				<div class="form-group">
  					<button type="submit" class="btn" ng-class="{ 'btn-primary' : $root.bmc, 'btn-success' : !$root.bmc }" 
              ng-disabled="form.$invalid">
    					{{ 'GRAVAR' | translate }}
    				</button>
            <a ng-href="#/" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
            </a>
  				</div>
        	</form>
		</div>
	</div>
</div>