<div class="page-header kz_center">
  	<h1>{{ 'CRIAR_NOVO_USUARIO' | translate }}</h1>
</div>
<div class="kz_content">
  	<div class="alert alert-danger" role="alert" ng-show="erro">
    	{{ 'ERRO_CRIANDO_USUARIO' | translate }}
  	</div>
    <div class="alert alert-success" role="alert" ng-show="sucesso">
      {{ 'USUARIO_CRIANDO_SUCESSO' | translate }}
      <br />
      <a ng-href="#/login" alt="{{ 'LOGIN' | translate }}" title="{{ 'LOGIN' | translate }}">
        {{ 'ENTRAR_NO_SISTEMA' | translate }}
      </a>
    </div>

	<div class="row" ng-show="!sucesso">
		<div class="col-xs-12 col-md-4 col-md-offset-4 kz_center">
      		<form role="form" name="form" ng-submit="cadastrar(usuario)" novalidate>
        		<div class="form-group">
    				<label for="email" class="control-label">{{ 'EMAIL' | translate }}</label>
    				<input type="email" class="form-control" id="email" name="email" 
    					maxlength="200" ng-model="usuario.email" 
    					placeholder="{{ 'DIGITE_EMAIL' | translate }}" required />
  				</div>
  				<div class="form-group">
    				<label for="senha" class="control-label">{{ 'SENHA' | translate }}</label>
    				<input type="password" class="form-control" id="senha" name="senha" 
    					maxlength="30" ng-model="usuario.senha" 
    					placeholder="{{ 'DIGITE_SENHA' | translate }}" required />
  				</div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
                {{ 'CRIAR' | translate }}
            </button>
            <a ng-href="#/login" class="btn btn-default">
              <span class="glyphicon glyphicon-chevron-left"></span> {{ 'VOLTAR' | translate }}
            </a>
          </div>
        </form>
		</div>
	</div>
</div>